.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

form input.ele,
form select.ele,
form button.ele {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.ele {
    display: block;
}